/* Variabls */
:root {
  --primary-blue: #2196f3;
  --dark-blue: #1976d2;
  --light-blue: #bbdefb;
  --white: #ffffff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --light-gray: #bdbdbd;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serifs;
  color: var(--primary-text);
}
/* Login */

/* Form Elements */

input[type="text"],
input[type="password"] {
  height: 40px;
  padding: 10px;
  background-color: var(--light-blue);
  border: none;
  color: var(--secondary-text);
  margin-bottom: 10px; /* Add margin-bottom for spacing between inputs */
}

button#loginBtn {
  height: 40px;
  padding: 0 15px;
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  cursor: pointer; /* Add cursor pointer for better UX */
  border-radius: 4px; /* Add border-radius for rounded corners */
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

button#loginBtn:hover {
  background-color: var(--dark-blue); /* Change background color on hover */
}

/* Helper Classes */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.light-text {
  color: var(--light-blue);
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

#appContainer {
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  background-color: var(--primary-blue);
  overflow: hidden;
}

#mainContent {
  width: 100%;
  justify-content: center;
}

/* Header */
header {
  height: 150px;
  background-color: var(--dark-blue);
  width: 100%;
  color: white;
}

header .container {
  height: 100%;
  align-items: left;
}

/* Login */

/* Form Elements */

input {
  height: 40px;
  padding: 10px;
  background-color: var(--light-blue);
  border: none;
  color: var(--secondary-text);
}

button {
  height: 40px;
  padding: 0 15px;
  background-color: var(--primary-blue);
  color: white;
  border: none;
}

/* Chat */

#chat {
  background: white;
  height: 100px;
  margin: 25px 0;
  padding: 25px 25px;
  color: white;
  overflow-y: scroll;
}

#messageForm {
  margin-bottom: 25px;
}

.message {
  background-color: var(--primary-blue);
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.message-right {
  background: var(--light-blue);
  color: var(--primary-text);
  margin-left: 20%;
}

.message-right .message-date {
  color: var(--primary-text);
}

.message-details {
  margin-bottom: 5px;
}

.message-author {
  font-weight: 800;
}

.message-date {
  font-weight: 100;
  font-size: 14px;
}

.message-content {
  font-weight: 100;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  direction: rtl;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  top: 0;
  left: 0;
  /*padding: 10px 0;*/
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
}

.login-box a:hover {
  background: rgba(58, 139, 140, 0.61);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(36, 121, 126, 0.59), 0 0 25px #03e9f4,
    0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}
